.top-image {
    width: inherit;
    height: auto;
}

body {
    width: 1200px;
    margin: auto;
}

.card-body {
    height: 300px;
}

.carousel-control-next,
.carousel-control-prev {
    height: 75%;
    width: 100px;
}

.desc {
    float: left;
}

a {
    text-decoration: none;
    color: rgba(31, 31, 31, 0.5);
    background-color: transparent;
}

a:hover {
    text-decoration: none;
    color: rgba(0, 0, 0, 0.5);
}