.noimg {
    width: 1200px;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.withimage {
    width: 1200px;
    display: block;
    border: 1px solid gray;
    margin-bottom: 10px;
}

.img {
    width: 200px;
    height: 100%;
    max-height: 500px;
    display: inline-block;
    border-right: 1px solid gray;
}

.titlenoimg {
    color: rgba(31, 31, 31, 0.5);
}

.titledesc {
    display: inline-block;
    position: absolute;
    width: 1000px;
}

.descnoimg {
    width: 1200px;
    padding-left: 5px;
}

.descimg {
    padding-left: 5px;
}

.commentimg {
    display: inline-block;
}

h4 {
    color: rgba(31, 31, 31, 0.5);
}

.title {
    border-bottom: 1px solid gray;
}

.buttonprev {
    display: inline-block;
    position: absolute;
}

.buttonnext,
.buttonprev {
    border: 1px solid gray;
}